include mixins/svg.pug

mixin footerLinkIcon(iconName)
    a(href="#").footer__link.footer__icon-link
        +iconSVG(`${iconName}`, 'icon footer__icon')

mixin footerLink(title)
    li.footer__item 
        a(href="#").footer__link=title

mixin footerLinkGroups(heading, titles)
    .footer__links-group 
        h4.footer__links-heading=heading
        ul.footer__links-list 
            for title in titles
                +footerLink(title)

button.toTop
    +iconSVG('arrow-up', 'icon')
            
footer.footer
    .container 
        .footer__inner 
            .footer__logo 
                img(src="./images/Logo.png", alt="Logo")
            .footer__cta
                .footer__social 
                    for iconName in ['instagram', 'twitter', 'youtube', 'facebook']
                        +footerLinkIcon(iconName)
                form(action="#").footer__form.join-form
                    input(type="email" placeholder="Email Address")
                    button.btn Get Started
            .footer__links
                +footerLinkGroups('Support', ['Contact us', 'FAQ', 'Downloads', 'Locate', 'Product Registration'])
                +footerLinkGroups('Happy Meal', ['About Happpy Meal', 'Design', 'Careers', 'Access'])

        .footer__copyright © 2021 Happy Meal