@use "../../styles/mixins.scss" as *;

.grid {
  --gap-x: var(--gx);
  --gap-y: var(--gy);
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap-x));
  margin-top: calc(-1 * var(--gap-y));

  @include breakpoint(lg) {
    --gap-x: calc(2 / 3 * var(--gx));
    --gap-y: calc(2 / 3 * var(--gy));
  }

  @include breakpoint(md) {
    --gap-x: calc(1 / 2 * var(--gx));
    --gap-y: calc(1 / 2 * var(--gy));
    --cols: 3 !important;
  }

  @include breakpoint(sm) {
    --cols: 2 !important;
  }
}

.item {
  flex-basis: calc((100% - var(--gap-x) * var(--cols)) / var(--cols));
  margin-left: var(--gap-x);
  margin-top: var(--gap-y);
}
