@use "../../styles//mixins.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px var(--container-padding);

  @include breakpoint(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include breakpoint(sm) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  img {
    width: 100%;
    max-width: 440px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 28px;
    text-align: center;

    @include breakpoint(xl) {
      font-size: 1.25rem;
    }

    @include breakpoint(sm) {
      font-size: 1.125rem;
    }
  }

  a {
    display: block;
    background-color: var(--clr-primary);
    color: var(--clr-on-bold-bg);
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;

    @include breakpoint(xl) {
      font-size: 0.875rem;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    @include link-when-active {
      background-color: var(--clr-primary-hover);
    }
  }
}
