@use "../../styles/mixins.scss" as *;

.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;

  @include breakpoint(md) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @include breakpoint(sm) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.heading {
  text-align: center;
  margin-bottom: 80px;

  @include breakpoint(xl) {
    margin-bottom: 60px;
  }

  @include breakpoint(md) {
    margin-bottom: 40px;
  }

  @include breakpoint(sm) {
    margin-bottom: 20px;
  }
}

.title {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: 0.05rem;

  @include breakpoint(xl) {
    font-size: 2rem;
  }

  @include breakpoint(md) {
    font-size: 1.5rem;
  }

  @include breakpoint(sm) {
    font-size: 1.25rem;
  }
}

.description {
  font-family: var(--ff-heading);

  @include breakpoint(md) {
    font-size: 1rem;
  }

  @include breakpoint(sm) {
    font-size: 0.875rem;
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-contrast-low);
  padding: 20px;
  height: 100%;
  border-radius: 5px;

  @include breakpoint(xl) {
    padding: 10px;
  }
}

.recipeImage {
  display: block;
  flex-basis: 30%;
  flex-shrink: 0;
}

.recipeInfo {
  margin-top: 16px;
}

.recipeTitle {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 12px;

  @include breakpoint(md) {
    font-size: 1rem;
  }

  @include breakpoint(sm) {
    font-size: 0.875rem;
  }

  a {
    color: inherit;

    &:hover,
    &:active {
      color: var(--clr-secondary);
    }
  }
}

.recipeBtn {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: var(--clr-contrast-low);
  color: var(--clr-contrast);
  border: none;
  outline: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include breakpoint(sm) {
    width: 32px;
    height: 32px;
  }
}
