@use "../../../styles/mixins.scss" as *;

.section {
  margin-top: 100px;

  @include breakpoint(md) {
    margin-top: 60px;
  }

  @include breakpoint(sm) {
    margin-top: 40px;
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--rp-section-title-spacing);
}

.title {
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  font-family: var(--ff-heading);
  font-size: var(--rp-section-title);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.2;
}

.description {
  width: 100%;
  color: var(--clr-contrast-medium);
  font-size: var(--rp-section-desc);
}

.link {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--clr-secondary);

  @include link-when-active {
    color: var(--clr-secondary-hover);
  }
}

.sectionBody {
  border-top: 3px solid var(--clr-contrast-medium);
  border-bottom: 2px solid var(--clr-contrast-low);
  display: flex;
}

.image {
  flex-basis: 36%;
  flex-shrink: 0;

  @include breakpoint(lg) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.recipes {
  padding: 36px;
  padding-right: 0;

  @include breakpoint(lg) {
    padding-left: 0;
  }
}
