@use "../../styles/mixins.scss" as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;

    @include breakpoint(md) {
      font-size: 1.125rem;
    }

    @include breakpoint(sm) {
      font-size: 1rem;
    }
  }
}

.message {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 16px;

  @include breakpoint(md) {
    font-size: 1rem;
    margin-bottom: 12px;
  }
}
