@use "../../styles/mixins.scss" as *;

.section {
  margin-top: 100px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.title {
  display: flex;
  align-items: center;
  font-family: var(--ff-heading);
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.2;

  svg {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
}

.description {
  width: 100%;
  margin-left: 52px;
  color: var(--clr-contrast-medium);
  font-size: 1rem;
}

.link {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--clr-secondary);

  @include link-when-active {
    color: var(--clr-secondary-hover);
  }
}
