@use "../../styles/mixins.scss" as *;

.footer {
  background-color: var(--clr-background-high);
  padding: 50px 0 26px;
  margin-top: auto;

  @include breakpoint(sm) {
    padding-top: 32px;
  }
}

.footerMain {
  display: flex;
  margin-bottom: 20px;

  @include breakpoint(xl) {
    flex-wrap: wrap;
  }
}

.logo {
  width: 102px;
  height: 102px;

  @include breakpoint(sm) {
    width: 80px;
    height: 80px;
  }
}

.snsCol {
  margin-left: 8vw;
  margin-right: 8vw;

  @include breakpoint(xl) {
    margin-right: 0;
  }

  @include breakpoint(md) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

.snsLinks {
  display: flex;
  align-items: center;
  margin-bottom: 64px;

  @include breakpoint(xl) {
    margin-bottom: 24px;
  }

  @include breakpoint(md) {
    justify-content: center;
    margin-bottom: 18px;
  }

  & > *:not(:last-child) {
    margin-right: 24px;
  }
}

.snsLink {
  color: var(--clr-contrast-medium);

  @include link-when-active {
    color: var(--clr-primary);
  }

  svg {
    fill: currentColor;
  }
}

.copyright {
  font-size: 1rem;
  color: var(--clr-contrast-medium);

  @include breakpoint(sm) {
    font-size: 0.875rem;
  }
}

.linkCols {
  display: flex;
  margin-left: auto;

  @include breakpoint(xl) {
    flex-basis: 100%;
    margin-top: 30px;
  }
}

.linkCol {
  &:not(:last-child) {
    margin-right: 5vw;
  }
}

.linksTitle {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 10px;

  @include breakpoint(sm) {
    font-size: 1rem;
  }
}

.link {
  display: block;
  font-size: 1rem;
  padding: 4px 0;

  @include breakpoint(sm) {
    font-size: 0.875rem;
  }

  @include link-when-active {
    color: var(--clr-primary);
  }
}
